" share clipboard with system
set clipboard+=unnamed
set clipboard+=ideaput

set idearefactormode=keep
set ideajoin
set showmode
set showcmd

set guicursor=""

set number
set relativenumber

set smartindent

set nowrap

set hlsearch
set incsearch

set scrolloff=8

set updatetime=50

" remap <leader> to space "
let mapleader=" "

nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<CR>

nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" code format
noremap <leader>cf :action ReformatCode<CR>

" idea actions remap"
noremap <leader>ff :action SearchEverywhere<CR>
noremap <leader>fr :action RecentFiles<CR>

inoremap jk <Esc>

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Better viewing
nnoremap n nzzzv
nnoremap N nzzzv
nnoremap g, g,zvzz
nnoremap g; g;zvzz
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

" Better indent
vnoremap < <gv
vnoremap > >gv

" delete single char w/o saving to register
nnoremap x "_x
" yanks to system clipboard
noremap <leader>y "+y
" yanks a line to system clipboard
noremap <leader>Y "+Y

" delete to void register
noremap <leader>d "_d
